@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

:root {
  --background: white;
  --color: black;
}

[data-theme="dark"] {
  --background: #16161c;
  --color: white;
}

.loginform {
  font-family: "Montserrat";
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: var(--background);
  transition: 0.5s;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.productSubmit {
}

.title {
  user-select: none;
  font-family: "Montserrat", serif;
  font-weight: bold;
  font-size: 25px;
}

.status {
  font-family: "Montserrat";
}

.postButton {
  position: fixed;
  bottom: 30px;
  right: 25px;
}

.mainText {
  font-size: 30px;
  font-family: "Montserrat", serif;
  font-weight: bold;
  color: black;
  margin: 0.5rem 0 12px;
}

.submit {
  margin-top: 5px;
}

.text {
  color: black;
}

.header {
  color: var(--color);
  background-color: var(--background);
  transition: 0.5s;
}

.fieldtext {
  margin-top: 30px;
  margin-bottom: 5px;
}

.input-feedback {
  color: red;
  margin-top: 0.25rem;
}

.error {
  color: red;
  margin-top: 0.25rem;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
  color: black;
  margin-top: 20px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 20px;
  padding: 10px;
}

.add-product-square {
  border-style: dotted;
  border-radius: 30px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.add-product-square button {
  padding: 10px;
  background-color: none;
}

.product-card {
  font-family: "Montserrat", serif;
  padding: 10px;
  text-align: center;
}

.product-card img {
  max-width: 100%;
  height: auto;
}

input {
  display: block;
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  color: black;
}

label {
  font-family: "Montserrat", serif;
  font-weight: normal;
  display: block;
  color: black;
}

.inputs {
  width: 80%;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  color: black;
}

.submitButton {
  background-color: #007eff;
  color: white;
  padding: 10px;
  font-size: 16px;
  width: 100%;
  margin-top: 20px;
  border: none;
  border-color: none;
  border-radius: 12px;
  cursor: pointer;
}

.submitButtonAdmin {
  font-family: "Montserrat", serif;
  font-weight: bold;
  background-color: #007eff;
  color: white;
  border: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 12px;
  width: 78%;
}

.accessInput {
  width: 400px;
  height: 50px;
  border-radius: 10px;
}

.maintenance {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-style: italic;
  min-height: 100vh;
  font-size: 5vw;
  padding: 20px;
  opacity: 0.85;
}

.maintenance h1 {
  cursor: pointer;
  user-select: none;
}

.fourohfour {
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  font-style: italic;
  font-size: 5vw;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;

  user-select: none;
}

.fourohfour h2 {
  padding: 20px;
  font-size: 5.2854122621564485vw;
}

.adminMain {
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  font-size: 5vw;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
}

.back {
  padding: 50px;
  font-size: 4vw;
}

.form {
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 400px;
  height: 300px;

  align-items: center;
  justify-content: center;

  border-radius: 15px;
}

.toggleMaintenance {
  display: flex;

  justify-content: center;
  align-items: center;
  text-align: center;

  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

.Collapsible__trigger {
  display: flex;
  padding-top: 40px;
  justify-content: center;
  align-items: center;
  text-align: center;

  font-family: "Montserrat", sans-serif;
  font-size: 40px;
}

.AdminLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  min-height: 100vh;
}

.AdminLogin input {
  width: 300px;
  margin-bottom: 10px;
}

.AdminLogin h1 {
  padding: 20px;
}

.adminclick {
  cursor: pointer;
}

.adminpassword {
  -webkit-text-security: disc;
}
