@font-face {
  font-family: "Montserrat";
  src: url("/pages/fonts/Montserrat-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/pages/fonts/Montserrat-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}


@font-face {
  font-family: "Montserrat";
  src: url("/pages/fonts/Montserrat-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}


:root {
  --background: white;
  --color: black;
}

[data-theme='dark'] {
  --background: #16161C;
  --color: white;
}

.loginform {
  font-family: 'Montserrat';
}



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: var(--background);
  transition: .5s;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.title {
  user-select: none;
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 25px;
}

.status {
  font-family: 'Montserrat';
}

.postButton {
  position: fixed;
  bottom: 30px;
  right: 25px;
}

.mainText {
  font-size: 30px;
  font-family: "Montserrat", serif;
  font-weight: bold;
  color: black;
  margin: 0.5rem 0 12px;
}

.submit {
  margin-top: 5px;
}





.text {
  color: black;
}

.header {
  color: var(--color);
  background-color: var(--background);
  transition: .5s;
}

.fieldtext {
  margin-top: 30px;
  margin-bottom: 5px;
}


.input-feedback {
  color: red;
  margin-top: .25rem;
}

.error {
  color: red;
  margin-top: .25rem;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: .5rem;
  color: black;
  margin-top: 20px;

}

input {
  display: block;
  width: 100%;
  padding: .5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  color: black;
}

label {
  font-family: "Montserrat", serif;
  font-weight: normal;
  display: block;
  color: black;

}

.inputs {
  width: 80%;
  padding: .5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  color: black;
}



.submitButton {
  background-color: #007eff;
  color: white;
  padding: 10px;
  font-size: 16px;
  width: 100%;
  margin-top: 20px;
  border: none;
  border-color: none;
  border-radius: 12px;
  cursor: pointer;
}

.submitButtonAdmin {
  font-family: "Montserrat", serif;
  font-weight: bold;
  background-color: #007eff;
  color: white;
  border: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 12px;
  width: 78%;
}

.accessInput {
  width: 400px;
  height: 50px;
  border-radius: 10px;
}




.maintenance {

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-style: italic;
  min-height: 100vh;
  font-size: 5vw;
  padding: 20px;
  opacity: 0.85;
}

.maintenance h1 {
  cursor: pointer;
  user-select: none;

}

.fourohfour {
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
  font-style: italic;
  font-size: 5vw;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  user-select: none;
}

.fourohfour h2 {
  font-size: 5.2854122621564485vw;
}



.form {
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 400px;
  height: 300px;

  align-items: center;
  justify-content: center;

  border-radius: 15px;




}

.backgroundVideo {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  opacity: 0.5;
  filter: blur(10px);
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
}